<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <br />
  <div class="row">
    <div class="col-xs-2 col" id="box">


      <div class="dropdown" id="dd1">
        <button class="btn btn-default" type="button" id="sddb" data-toggle="dropdown">Student</button>
        <ul class="dropdown-menu" role="menu" id="dm1">
          <li role="presentation"><button class="dropdown-item" id="ddi">StudentRegister</button></li>
          <li class="dropdown-divider"></li>
          <li role="presentation"><button class="dropdown-item" id="ddi">StudentDetails</button></li>
          <li class="dropdown-divider"></li>
          <li role="presentation"><button class="dropdown-item" id="ddi">EditStudent</button></li>
          <li class="dropdown-divider"></li>
          <li role="presentation"><button class="dropdown-item" id="ddi">DeleteStudent</button></li>

        </ul>
      </div>
    </div>

    <div class="col-xs-2 col" id="box">
      <div class="dropdown" id="dd1">
        <button class="btn btn-default" type="button" id="sddb" data-toggle="dropdown">Course</button>
        <ul class="dropdown-menu" role="menu" id="dm1">
          <li role="presentation"><button class="dropdown-item" id="ddi">CourseRegister</button></li>
          <li class="dropdown-divider"></li>
          <li role="presentation"><button class="dropdown-item" id="ddi">CourseDetails</button></li>
          <li class="dropdown-divider"></li>
          <li role="presentation"><button class="dropdown-item" id="ddi">EditCourse</button></li>
          <li class="dropdown-divider"></li>
          <li role="presentation"><button class="dropdown-item" id="ddi">DeleteCourse</button></li>

        </ul>
      </div>
    </div>
    <div class="col-xs-2 col" id="box">
      <div class="dropdown" id="dd1">
        <button class="btn btn-default" type="button" id="sddb" data-toggle="dropdown">Branch</button>
        <ul class="dropdown-menu" role="menu" id="dm1">
          <li role="presentation"><button class="dropdown-item" id="ddi">BranchRegister</button></li>
          <li class="dropdown-divider"></li>
          <li role="presentation"><button class="dropdown-item" id="ddi">BranchDetails</button></li>
          <li class="dropdown-divider"></li>
          <li role="presentation"><button class="dropdown-item" id="ddi">EditBranch</button></li>
          <li class="dropdown-divider"></li>
          <li role="presentation"><button class="dropdown-item" id="ddi">DeleteBranch</button></li>

        </ul>
      </div>
    </div>
  </div>

</body>
